<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper>
<mapper namespace="DateMapper">
    <insert id="insertDate">
        insert into t_date (date,userId) values (#{date},#{userId})
    </insert>

    <select id="selectDates" parameterType="pojo.po.UDate" resultType="pojo.po.UDate">
        select date from t_date where userId = #{userId} and date like #{exp}
    </select>
</mapper>