<!DOCTYPE mapper>
<mapper namespace="FileMapper">
    <!--通过userId上传文件-->
    <insert id="insertFile">
        insert into file (fileContext,userId) values(#{fileContext},#{userId})
    </insert>

    <select id="selectCount" parameterType="string" resultType="int">
        select count(userId) from file;
    </select>
</mapper>