<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper>
<mapper namespace="UmrMapper">
    <!--  获取用户模板库所有内容  -->
    <select id="selectModleByUserId" parameterType="pojo.po.db.Umr" resultType="pojo.po.db.Umr">
        select * from umr where userId=#{userId}
    </select>

    <insert id="insertUMR">
        insert into umr (userId,modleId,mStatus) values (#{userId},#{modleId},#{mStatus})
    </insert>

    <delete id="deleteUMRByModleId">
        delete from umr where modleId = #{modleId}
    </delete>

    <insert id="collectModleById" parameterType="pojo.po.db.Umr" >
        insert into umr(userId,modleId,mStatus) values(#{userId},#{modleId},#{mStatus})
    </insert>

    <delete id="cancelMOdleById" parameterType="pojo.po.db.Umr">
        delete from umr where userId=#{userId} and mStatus=#{modleId} and mStatus=#{mStatus}
    </delete>

</mapper>