<!DOCTYPE mapper>
<mapper namespace="UserMapper">
    <select id="selectUserById" resultType="pojo.po.db.User">
        select * from user where userId = #{userId}
    </select>

    <select id="selectUserByNickName" resultType="pojo.po.db.User">
        select * from user where nickName = #{nickName}
    </select>

    <select id="selectNickName" resultType="pojo.po.db.User">
        select nickName from user where nickName = #{nickName}
    </select>
    <!--  查询榜单前十  -->
    <select id="selectTopTen" resultType="pojo.po.db.User">
        select nickName,stars from user order by stars desc
    </select>

    <!--  查询当前用户排名  -->
    <select id="selectUserRanking" resultType="pojo.po.db.Count">
        SELECT number from (SELECT
        @rownum:= @rownum + 1 AS number,
        userId
        FROM
        (SELECT @rownum := 0) t,user
        ORDER BY
        stars DESC) as tmp
        where userId = #{userId}
    </select>

    <insert id="insertUserByNickName">
        insert into user (nickName) values(#{nickName})
    </insert>
    <!-- 插入用户日常学习数据：学习时长和学习篇数 -->
    <insert id="insertDailyStudyByUserId">
        insert into dailystudy (userId,studyNums,studyTime) values(#{userId},#{studyNums},#{studyTime})
    </insert>
    <!-- 查询用户日常学习数据 -->
    <select id="selectDailyStudyByUserId" resultType="pojo.po.db.DailyStudy">
        select studyNums,studyTime from dailystudy where userId = #{userId} order by storeTime desc limit 0,1
    </select>

    <!--  修改昵称  -->
    <update id="updateNickNameByUserID">
        update user set nickName = #{nickName} where userId = #{userId}
    </update>
    <!-- 修改头像 -->
    <update id="updateImageByUserID">
        update user set image = #{image} where userId = #{userId}
    </update>
    <!-- 修改手机号 -->
    <update id="updatePhoneByUserID">
        update account set number = #{number} where userId = #{userId}
    </update>
    <!-- 修改星星 -->
    <update id="updateStarsByUserID">
        update user set stars = #{stars} where userId = #{userId}
    </update>
    <!-- 修改积分数 -->
    <update id="updatePointsByUserID">
        update user set points = #{points} where userId = #{userId}
    </update>
    <!--selectNameImgById-->
    <select id="selectNameImgById" parameterType="pojo.vo.Community" resultType="pojo.po.db.User">
        select nickName,image from user where userId=#{userId}
    </select>
</mapper>