<!DOCTYPE mapper>
<mapper namespace="UserMapper">
    <select id="selectUserById" resultType="pojo.po.User">
        select * from user where userId = #{userId}
    </select>

    <select id="selectUserByNickName" resultType="pojo.po.User">
        select * from user where nickName = #{nickName}
    </select>

    <select id="selectNickName" resultType="pojo.po.User">
        select nickName from user where nickName = #{nickName}
    </select>
    <!--  查询榜单前十  -->
    <select id="selectTopTen" resultType="pojo.po.User">
        select nickName,stars from user order by stars desc
    </select>

    <!--  查询当前用户排名  -->
    <select id="selectUserRanking" resultType="pojo.po.Count">
        SELECT number from (SELECT
        @rownum:= @rownum + 1 AS number,
        userId
        FROM
        (SELECT @rownum := 0) t,user
        ORDER BY
        stars DESC) as tmp
        where userId = #{userId}
    </select>

    <insert id="insertUserByNickName">
        insert into user (nickName) values(#{nickName})
    </insert>

    <!--  修改昵称  -->
    <update id="updateNickNameByUserID">
        update user set nickName = #{nickName} where userId = #{userId}
    </update>
    <!-- 修改头像 -->
    <update id="updateImageByUserID">
        update user set image = #{image} where userId = #{userId}
    </update>
    <!-- 修改手机号 -->
    <update id="updatePhoneByUserID">
        update account set number = #{number} where userId = #{userId}
    </update>
</mapper>