<!DOCTYPE mapper>
<mapper namespace="UserMapper">
    <select id="selectUserById" resultType="pojo.po.User">
        select * from user where userId = #{userId}
    </select>

    <select id="selectUserByNickName" resultType="pojo.po.User">
        select * from user where nickName = #{nickName}
    </select>

    <insert id="insertUserByNickName" >
        insert into user (nickName) values(#{nickName})
    </insert>


    <!--通过userId修改个人资料-->
    <update id="reMessageById" parameterType="pojo.po.User">
        update user set nickName=#{nickName},sex=#{sex},birthday=#{birthday},cityId=#{cityId},
        schoolId=#{school} where userId=#{userId}
    </update>

</mapper>