//out:../css/
@import 'base';
@vw: 3.95vw;

body {
    background-color: #f4f4f4;
}

.scroll_box {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .scroll_top {
        left: 100% !important;
    }
}

.memory_base {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    transition: left .2s;
    background-color: #f6f7fb;

    header {
        z-index: 1000;
        position: fixed;
        left: 0;
        top: 0;
        transition: left .2s;
        width: 100vw;
        background-color: #fff;

        .header_top {
            width: 100%;
            z-index: 100;
            height: (58 / @vw);
        }

        .header_bottom {
            width: 100%;
            z-index: 50;
            height: (40 / @vw);
            display: flex;
            align-items: center;
            justify-content: space-between;

            .hb_btn {
                position: relative;
                flex: 2;
                height: 100%;
                text-align: center;
                line-height: (40 / @vw);
                font-size: (16 / @vw);

                &::after {
                    display: none;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    content: '';
                    width: (30 / @vw);
                    height: (2 / @vw);
                    background-color: rgb(92, 78, 175);
                    border-radius: (5 / @vw);
                }
            }

            .btn_line {
                &::after {
                    display: block;
                }
            }

        }

        .ht_1,
        .ht_2 {
            padding: 0 (15 / @vw);
            width: 100%;
            height: (58 / @vw);
            display: flex;
            align-items: center;
            justify-content: space-between;

        }

        .ht_2 {
            padding: 0 (20 / @vw);
            display: none;
            font-size: (20 / @vw);

            .icon {
                font-size: (25 / @vw) !important;
            }
        }

        .header_left,
        .header_right {
            .icon {
                font-size: (35 / @vw);
            }
        }


        .header_search {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 (5 / @vw);
            margin-right: (20 / @vw);
            width: (280 / @vw);
            height: (30 / @vw);
            border-radius: (15 / @vw);
            background-color: #ecedef;

            input {
                padding: 0 (5 / @vw);
                width: (240 / @vw);
                height: (30 / @vw);
                border-radius: (15 / @vw);
                background-color: #ecedef;
                // border: (1 / @vw) solid #000;
                border: 0;
            }

            button {
                width: (30 / @vw);
                height: (30 / @vw);
                border-radius: 50%;
                border: none;
                background-color: transparent;

                .icon {
                    font-size: (20 / @vw);
                }
            }
        }

        .header_btn {
            width: (40 / @vw);
            height: (40 / @vw);
            border-radius: 50%;
            border: (1 / @vw) solid #000;
            text-align: center;
            line-height: (40 / @vw);
        }

        .icon_btn {
            display: none;
            z-index: 1000;
            position: absolute;
            top: 0;
            right: (35 / @vw);
            width: (40 / @vw);
            height: (40 / @vw);
            border-radius: 50%;
            background-color: #fff;
            // border: (1 / @vw) solid #a1a4b4;
            text-align: center;
            line-height: (40 / @vw);

            .icon {
                color: #a89cd4;
                font-size: (25 / @vw);
                font-weight: 700;
                // animation: sss .4s infinite;
            }

            @keyframes sss {
                10% {
                    color: rgb(255, 119, 119);
                }

                20% {
                    color: rgb(158, 255, 13);
                }

                30% {
                    color: rgb(255, 213, 2);
                }

                40% {
                    color: rgb(7, 222, 255);
                }

                50% {
                    color: rgb(115, 0, 255);
                }

                60% {
                    color: rgb(255, 5, 168);
                }

                70% {
                    color: rgb(11, 255, 85);
                }

                80% {
                    color: rgb(255, 6, 6);
                }

                90% {
                    color: rgb(255, 97, 97);
                }

                100% {
                    color: rgb(70, 255, 240);
                }
            }
        }

        .change_ani {
            animation: changeani 1s;
        }

    }

    .container {
        // overflow: hidden;
        // width: 100%;
        // height: (598 / @vw);
        // margin-bottom: (70 / @vw);
        position: relative;
        width: 100vw;
        margin-top: (98 / @vw);


        .container_scroll {
            position: absolute;
            top: 0;
            left: 0;
            width: 200vw;
            height: 100%;
            display: flex;
            transition: all .1s;
        }

        .today_plan {
            width: 100vw;
            height: calc(100vh - 24.8vw - 17.7vw);
            background-color: #f6f7fb;


            .bgc {
                width: auto;
                height: (10/@vw);
            }


            .record_box {
                margin-bottom: (20/@vw);
                padding: (0/@vw) (15/@vw);
                width: 100%;
                border-radius: 5%;

                .box {
                    padding: (5/@vw) 0;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 1.5px solid #e2e2e2;
                    border-radius: (10/@vw);

                    .splitLine {
                        width: (1/@vw);
                        height: (60/@vw);
                        background-color: #e2e2e2;
                    }

                    .com {
                        width: 45%;
                        height: (80/@vw);
                        text-align: center;
                        // background-color: #fff;
                        // border-radius: 5%;
                        // box-shadow: (1/@vw) (1/@vw) (4/@vw) (1/@vw)rgba(121, 121, 121, 0.38);

                        .com_title {
                            line-height: (40/@vw);
                            font-size: (16/@vw);
                        }

                        .data {
                            font-size: (20/@vw);
                            color: #8076b5;

                            span {
                                font-size: (15/@vw);
                            }

                            .cur_data {
                                font-weight: 700;
                                font-size: (20/@vw);
                                margin-right: (5 / @vw);
                            }
                        }
                    }

                    .time {
                        .icon-shijian {
                            font-size: (20/@vw);
                            color: rgba(233, 155, 20, 0.806);
                            font-weight: 700;
                        }
                    }

                    .page {
                        background: url(../images/复习/云1.png) no-repeat;

                        .icon-tongji1 {
                            font-size: (19/@vw);
                            color: rgba(233, 155, 20, 0.797);
                        }
                    }

                }
            }

            .plan_footer {
                width: 100%;
                height: (30 / @vw);
            }

            .plan_box {
                // margin: (0) (10/@vw); 
                overflow: hidden;
                padding-top: (15/@vw);
                background-color: #fff;
                height: 100%;
                width: 100%;
                overflow: scroll;

                // border-radius: (10 / @vw);
                // box-shadow: (1/@vw) (2/@vw) (6/@vw) (1/@vw)rgba(121, 121, 121, 0.38);
                &::-webkit-scrollbar {
                    display: none;
                }

                
            }

            .review_list {
                margin: 0 auto;
                padding-top: (10/@vw);
                height: 7%;
                width: (350 / @vw);
                // background-color: #fff;
                padding: 0 (20 / @vw);
                border-radius: (5 / @vw);
                border: 1px solid #d7d7d7b4;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: (14/@vw);

                .numOfArticles {
                    color: #5f4fb8;
                    font-size: (18/@vw);
                }
            }

            .review_container {
                margin: (10/@vw) (15/@vw);
                // height: 85%;
                width: (365 / @vw);
                // background-color: #fff;
                padding: 0 (20 / @vw);
                // border-radius: (10 / @vw);
                // box-shadow: (1/@vw) (2/@vw) (5/@vw) (0/@vw)rgba(121, 121, 121, 0.38);

                .today_review {
                    width: 100%;
                    height: (85 / @vw);

                    .tr_top {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding-top: (10 / @vw);
                        height: (50 / @vw);

                        h3 {
                            font-weight: 545;
                            font-size: (18 / @vw);

                            span {
                                font-weight: 600;
                                font-size: (20 / @vw);
                            }
                        }

                        .rule {
                            font-size: (14 / @vw);
                            color: #acacac;

                            .icon-zhuyi {
                                font-size: (12 / @vw);
                            }
                        }
                    }

                    .tr_bottom {
                        width: 100%;
                        height: (35 / @vw);
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .review_line {
                            height: (6 / @vw);
                            width: (290 / @vw);
                            border-radius: (10 / @vw);
                            background-color: #dbd4f7aa;

                            .now_line {
                                width: 10%;
                                height: 100%;
                                background-color: #5f4fb8;
                                border-radius: (10 / @vw);
                            }
                        }

                        span {
                            border-radius: 100%;
                            background-color: #e5e4e9;
                            color: #fff;
                            font-size: (25 / @vw);
                        }
                    }
                }

                .review_cycle {
                    margin-top: (20 / @vw);
                    width: 100%;
                    // background-color: #aba3ca;


                    .cycle_1 {
                        margin-bottom: (20/@vw);

                        .cycle_title {
                            z-index: 10;
                            position: relative;
                            height: (30 / @vw);
                            text-align: center;
                            line-height: (30 / @vw);

                            span {
                                color: rgba(70, 70, 70, 0.705);
                                font-size: (15/@vw);
                                padding: 0 (10 / @vw);
                                z-index: 10;
                                background-color: #fff;
                            }

                            &::after {
                                z-index: -1;
                                content: '';
                                position: absolute;
                                top: 50%;
                                left: 0;
                                transform: translateY(-50%);
                                width: 100%;
                                border: 1px dashed rgba(166, 164, 164, 0.57);
                            }
                        }

                        ul {
                            li {

                                margin-top: (20/@vw);
                                padding: 0 (10/@vw);
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                font-size: (15/@vw);

                                .modleId {
                                    display: none;
                                }

                                .title {
                                    width: (200 / @vw);
                                }

                                .goReview {
                                    background-color: #6c60aeb1;
                                    padding: (5/@vw) (10/@vw);
                                    font-size: (13/@vw);
                                    color: #fff;
                                    border-radius: (10/@vw);
                                    background: linear-gradient(to right, #7167abd6 55%, #957abd);
                                }
                            }
                        }
                    }
                }
            }
        }


        .me_base {
            width: 100vw;
            height: 80vh;
            position: relative;
            overflow: hidden;
            background-color: #f6f7fb;

            .collection_base,
            .my_base {
                position: absolute;
                top: 0;
                left: 0;
                width: 100vw;
                height: 110vh;
                transition: all 0.5s;
                overflow: scroll;

                //隐藏滚动条
                &::-webkit-scrollbar {
                    display: none;
                }

                ul {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                }

                .baseLis_fadeIn {
                    margin-top: 4vw;
                    opacity: 1;
                }

                .baseLis_del {
                    position: relative;

                    // animation: baseLis_del .5s forwards;
                    .select {
                        display: block;
                        position: absolute;
                        top: (10 / @vw);
                        right: (10 / @vw);
                        background-color: rgb(255, 255, 255);
                        width: (30/@vw);
                        height: (30/@vw);
                        line-height: (30/@vw);
                        text-align: center;
                        color: transparent;
                        border: 1px solid #afafaf;
                        border-radius: 100%;
                    }

                    .selected {
                        background-color: #a48ec5;
                        color: #fff;
                        border: 0;
                    }
                }

                .baseLis_del2 {
                    animation: baseLis_del2 1s forwards;
                }



                .select {
                    display: none;
                }

                li {
                    overflow: hidden;
                    position: relative;
                    top: 0;
                    left: 0;
                    margin: 4vw 0 0 3vw;
                    width: (180 / @vw);
                    height: (150 / @vw);
                    border-radius: (10/@vw);
                    box-shadow: (1/@vw) (2/@vw) (6/@vw) (1/@vw)rgba(121, 121, 121, 0.38);
                    transition: all .5s ease-in-out;
                    opacity: 0;
                    // transition-delay: .3s;

                    .tp_inner {
                        position: absolute;
                        left: 0;
                        background-color: #fff;
                        width: 100%;
                        height: 100%;
                        // padding: 0 (15 / @vw);

                        transition: all .3s ease-in-out;

                        .common,
                        .modleId {
                            display: none;
                        }
                    }

                    .content {
                        width: 100%;
                        padding: 0 (15 / @vw);

                        h4 {
                            position: relative;
                            width: 100%;
                            margin: (15 / @vw) 0 (10 / @vw) 0;
                            font-size: (18 / @vw);
                            color: #2f2f2f;
                            font-weight: 600;
                            letter-spacing: 0.1em;
                        }

                        .info {
                            font-size: (14 / @vw);
                            width: 100%;
                            height: (48 / @vw);
                            position: relative;
                            -webkit-line-clamp: 2;
                            padding: (12 / @vw) 0 0 0;
                            color: #949393;

                            &::after {
                                position: absolute;
                                top: 0;
                                left: 0;
                                content: '';
                                width: 100%;
                                height: (1.5 / @vw);
                                background-color: #f4f4f4;
                            }

                            .highlight {
                                display: inline;
                                background: #fdbe3b;
                                color: #000;
                            }
                        }
                    }

                    .tip {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: (40/ @vw);
                        width: 100%;
                        padding: 0 (10/@vw);


                        .label {
                            display: inline-block;
                            padding: 0 (10/@vw);
                            line-height: (20/@vw);
                            // padding: 0 (10/@vw);
                            text-align: center;
                            border-radius: (10/@vw);
                            // font-size: (20 / @vw);                    
                            background-color: #ab97c974;

                            span {
                                color: #323232;
                                font-size: (12/@vw);
                            }

                            .icon-shuqianguanli {
                                font-size: (14/@vw);
                            }
                        }

                        .learning {
                            display: inline-block;
                            // width: 50%;
                            padding: 0 (10/@vw);
                            line-height: (20/@vw);
                            border-radius: (10/@vw);
                            // padding: 0 (10/@vw);
                            text-align: center;

                            background-color: #2323188d;


                            span {
                                color: #fff;
                                font-size: (12/@vw);
                            }

                            .icon-shuqianguanli {
                                font-size: (14/@vw);
                            }
                        }

                        .startlearn {
                            background-color: #ffd161;
                        }

                        .learned {
                            background-color: #4e932ead;
                        }

                        .reviewing {
                            background-color: #5f4fb8a4;
                        }
                    }

                    .template_btn {
                        margin-left: (10 / @vw);
                        width: (162 / @vw);
                        height: 100%;
                        display: flex;

                        .tp_btn {
                            width: (81 / @vw);
                            height: 100%;
                            font-size: (22 / @vw);
                            text-align: center;
                            line-height: (100 / @vw);
                        }

                        .del {
                            background-color: #fc5b5bcf;
                        }

                        .edit {
                            background-color: #a89cd4;
                        }
                    }
                }

                .base_none_1,
                .base_none_2 {
                    display: none;
                    width: 100%;
                    margin-top: calc((100vh - (400 / @vw)));
                    height: (400 / @vw);
                    background-image: url(../images/空/空空如也.png);
                    background-size: cover;
                }

                .base_none_2 {
                    background-image: url(../images/空/收藏夹空空如也.png);
                }
            }

            .base_bottom {
                height: (260 / @vw);
                width: 100%;
            }

            .my_base {
                clip-path: circle(100%);
            }

            .collection_base {
                background-color: #f6f7fb;
                z-index: 100;
                transform-origin: top right;
                // transform: scale(0);
                // display: none;
                clip-path: circle((26.5 / @vw) at 87vw -5vw);
                transition: all .5s;

                li {
                    transition: all .3s ease-in-out;
                }

            }

            .clip_path_change1 {
                clip-path: circle(100%);
            }

            .clip_path_change2 {
                clip-path: circle((26.5 / @vw) at 87vw -5vw);
            }

        }



    }

}

.removeRecite {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    transition: all 0.3s;

    .headBox {
        transition: all 0.3s;
    }
}

.search_page {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f6f7fb;
    // background:linear-gradient(
    //     to right,
    //     #d9d0e6 50%,
    //     #f6f6f6 50%
    // );
    z-index: 10000;
    transition: all 0.3s;
}

.learn_page {
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    background-color: #f2f7fc;
    transition: left .4s ease-in-out;

    header {
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 10;
        width: 100%;
        height: (65 / @vw);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 (15 / @vw);
        background-color: #fff;
        box-shadow: 0 (1 / @vw) (8 / @vw) rgba(0, 0, 0, 0.374);
        opacity: 0;
        transition: all .4s ease-in-out;

        .header_left {
            .icon {
                font-weight: 700;
                font-size: (20 / @vw);
            }
        }

        .title {
            width: (200 / @vw);
            text-align: center;
            font-weight: 700;
            font-size: (20 / @vw);
        }

        .header_right {
            ul {
                display: flex;
                align-items: center;
            }

            li {
                position: relative;
                width: (80 / @vw);
                height: (40 / @vw);
                background-color: #eeedf5;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: (10 / @vw);
                margin-left: (10 / @vw);
                box-shadow: (2 / @vw) (2 / @vw) (10 / @vw) rgba(0, 0, 0, 0.418);

                .icon {
                    font-size: (20 / @vw);
                    margin-right: (5 / @vw);
                }
            }

            .label {
                display: block;
                padding: 0 (10 / @vw);
                height: (30 / @vw);
                background-color: #5f4fb8a4;
                text-align: center;
                line-height: (30 / @vw);
                border-radius: (10 / @vw);
                color: #fff;
            }

        }
    }

    .popup {
        display: none;
        z-index: 20000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #0000001d;

        .popup_box {
            position: absolute;
            width: (300 / @vw);
            left: 50%;
            bottom: 5%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            z-index: 10000;
            border-radius: (10 / @vw);
            display: flex;
            padding: (10/@vw) (20/@vw);
            justify-content: space-between;
            align-items: center;
            height: (150 / @vw);
            font-size: (20 / @vw);

            .left {
                width: 40%;
                height: (100/@vw);
                background: conic-gradient(#fda71c 50%, #fef6ea 0%); //陌生
                // background: conic-gradient(#5133febc 100%, #bcb0ffbc 0%);//熟练
                // background: conic-gradient(#02c287 100%, #e1fbf2 0%);//一般
                border-radius: 100%;
                padding: (8/@vw);

                .circle {
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .right {
                width: 50%;
                height: (100/@vw);
                // background-color: red;
                padding: (20/@vw) 0;
                font-size: (16/@vw);

                .score {
                    color: #fea31f; //陌生
                    // color: #5133febc;//熟练
                    // color: #02c287;//一般
                    font-size: (26/@vw);
                    margin-bottom: (5/@vw);
                }

                .score_title {
                    padding-top: (5/@vw);
                    border-top: 1px solid #57575718;
                    color: #57575799;
                    font-size: (14/@vw);
                }
            }
        }

    }

    .container {
        margin-top: (65 / @vw);
        z-index: 0;
        width: 100%;
        background-color: #f2f7fc;

        .text_box {
            margin: 0 auto;
            width: (370 / @vw);
            // height: 80vh;
            height: calc(100vh - 38vw);
            padding: (10 / @vw);
            overflow: scroll;
            font-size: (18 / @vw);
            outline: 0;
            border: none;

            &::-webkit-scrollbar {
                display: none;
            }

            &::selection {
                background: #fdbe3b !important;
            }

            .highlight {
                display: inline;
                background: #fdbe3b;
                transition: all .3s;
                outline: 0;
                border: none;

                &::selection {
                    background: #fdbe3b !important;
                }
            }


            .input {
                width: auto;
                background-color: transparent !important;
                color: rgb(117, 74, 255) !important;
                outline: none;
                display: inline;
                user-select: none !important;
                position: relative;
                border-bottom: (2 / @vw) rgb(63, 63, 63) solid;
                position: relative;

                // &::after {
                //     position: absolute;
                //     left: 0;
                //     color: transparent !important;
                //     content: attr(data-after);
                //     // border-bottom: (2 / @vw) rgb(63, 63, 63) solid;
                //     height: (30 / @vw);
                //     width: 100%;
                // }
                // -webkit-user-modify: read-write-plaintext-only;
            }

            .recite {
                height: (30 / @vw);
                background-color: darkgray !important;
                color: darkgray !important;
                border-radius: (5 / @vw);
                user-select: none;
            }
        }
    }

    footer {
        width: 100%;
        height: (90 / @vw);
        z-index: 100;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all .3s;

        // background-color: #b8b2c9;
        &::after {
            z-index: -1;
            content: '';
            width: 100%;
            height: (110 / @vw);
            position: absolute;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to top, rgb(255, 255, 255) 80%, transparent);
        }

        ul {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        li {
            height: 100%;
            flex: 4;
            font-size: (14/ @vw);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #a1a4b4;
            transition: all .2s ease-in-out;

            .icon {
                font-size: (30 / @vw);
            }

            .name {
                position: relative;
            }
        }

        .footer_1 {
            width: 100%;
            height: 100%;

            li {
                flex: 4;
            }
        }


        .footer_2 {
            width: 100%;
            height: 100%;
            display: none;

            li {
                flex: 3;
            }
        }

        .choice {
            color: rgb(132, 179, 255) !important;
        }
    }
}


.calendar_page {
    z-index: 10000;
    top: 0;
    left: -100%;
    transition: left .2s;
}

.pk_page {
    z-index: 1000;
    transition: left .2s;
}

.newwaitPK {
    display: none;
    background-color: transparent !important;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10001;
}

.pk_end {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
}

.upload_page {
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: left .2s;
    background-color: #ededed;

    header {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 (15/@vw);
        width: 100%;
        height: (50/@vw);
        background-color: #ededed;
        box-shadow: 0 (1 / @vw) (10 / @vw) rgba(0, 0, 0, 0.141);

        .icon-xiangzuojiantou {
            font-weight: 700;
        }

        .user_box {
            display: flex;
            align-items: center;
            margin-left: (20/@vw);
        }

        .uploadMP {
            position: relative;
            width: (75 / @vw);
            height: (35 / @vw);
            background-color: #e1e1e1;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: (10 / @vw);
            transition: all .3s;
            // box-shadow: (2 / @vw) (2 / @vw) (10 / @vw) rgba(0, 0, 0, 0.418);
        }

        .selected {
            background-color: #a48ec5;
            color: #fff;
            border: 0;
        }
    }

    .container {
        position: relative;
        width: 100vw;
        height: 100vh;
        margin-top: (50 / @vw);
        overflow: scroll;

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        li {
            width: 100vw;
            margin-top: (10/@vw);
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 (20/@vw);

            .modleId {
                display: none;
            }

            .content {
                width: (100%);
                padding: (15/@vw) 0;
                border-bottom: 1px solid #e4e4e4;

                .title_label {
                    width: (100%);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-right: (10/@vw);

                    .title {
                        width: (200 / @vw);
                    }

                    .label {
                        height: (25/@vw);
                        line-height: (25/@vw);
                        padding: 0 (8/@vw);
                        font-size: (12/@vw);
                        border-radius: (10/@vw);
                        background-color: #aba3ca89;
                    }
                }


                .info_box {
                    width: (90%);
                    line-height: (25/@vw);
                    margin-top: (10/@vw);
                    font-size: (13/@vw);
                }

                .ellipsis {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }

            .select {
                padding-left: (20/@vw);
                padding-right: (10/@vw);
                // width: (180/@vw);
                height: (40/@vw);
                display: flex;
                justify-content: flex-end;
                align-items: center;
                // background-color: red;
                border-left: 2px solid #e5e5e5;

                .circle {
                    width: (30/@vw);
                    height: (30/@vw);
                    line-height: (30/@vw);
                    text-align: center;
                    color: transparent;
                    border: 1px solid #afafaf;
                    border-radius: 100%;
                }

                .selected {
                    background-color: #a48ec5;
                    color: #fff;
                    border: 0;
                }
            }


        }
    }

    footer {
        width: 100%;
        height: (65 / @vw);
    }
}

.canwrite {
    outline: 0;
    border: none;
    -webkit-user-modify: read-write-plaintext-only;
}

.CaptureAvatar_page {
    display: none;
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

.footer_nav {
    z-index: 2000;
    position: fixed;
    bottom: 0;
    left: 0;

    footer {
        height: (70 / @vw);
        width: 100vw;
        background-color: #fff;

        ul {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        li {
            height: 100%;
            flex: 5;
            font-size: (14/ @vw);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #a1a4b4;
            transition: all .2s ease-in-out;

            .icon {
                font-size: (30 / @vw);
            }

            .name {
                position: relative;
            }
        }
    }
}

@keyframes changeani {
    0% {
        transform: scale(1) rotate(0);
    }

    50% {
        transform: scale(1) rotate(360deg);
    }

    100% {
        transform: scale(1) rotate(0);
    }
}

@keyframes baseLis_del2 {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        display: none;
    }
}