* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rbga(0, 0, 0, 0);
}
body {
  font-family: '微软雅黑';
  background-size: cover;
}
img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
ol,
ul {
  list-style: none;
}
input,
button,
select,
textarea {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
/*禁用了文本的拖拉，尤其在谷歌下*/
textarea {
  resize: none;
}
/*为了使文本段落左右两边对齐*/
p {
  text-align: justify;
  text-justify: distribute;
}
/*======== Link ========*/
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
/*清空浮动的代码-start*/
.clr:after {
  content: "";
  display: table;
  clear: both;
}
.clr {
  *zoom: 1;
}
/*清空浮动的代码-end*/
/* 页面元素初始化和常用样式定义-end */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?19tb89');
  src: url('../fonts/icomoon.eot?19tb89#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?19tb89') format('truetype'), url('../fonts/icomoon.woff?19tb89') format('woff'), url('../fonts/icomoon.svg?19tb89#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.community {
  background-color: #f4f4f4;
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transition: all 0.2s;
}
.community header {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 24vw;
  background-color: #fff;
  transition: all 0.2s;
}
.community header .search {
  height: 12.8vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 2.66666667vw;
  transition: all 0.2s;
  font-size: 3.2vw;
  text-align: center;
  color: #5c4eaf;
}
.community header .search .upload .icon-zhongguohangtiantubiaoheji-weizhuanlunkuo- {
  font-size: 6.93333333vw;
}
.community header .search .upload .sz {
  font-weight: 700;
  font-size: 3.2vw;
}
.community header .header_search {
  display: flex;
  align-items: center;
  padding: 0 2.66666667vw;
  width: 74.66666667vw;
  height: 8vw;
  border-radius: 4vw;
  background-color: #ecedef;
}
.community header .header_search input {
  padding: 0 1.33333333vw;
  width: 66.66666667vw;
  height: 8vw;
  border-radius: 4vw;
  background-color: #ecedef;
  border: 0;
}
.community header .header_search button {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  border: none;
  background-color: transparent;
}
.community header .header_search button .icon {
  font-size: 5.33333333vw;
  color: #979797;
}
.community header .header_btn {
  width: 10.66666667vw;
  height: 10.66666667vw;
  border-radius: 50%;
  border: 0.26666667vw solid #000;
  text-align: center;
  line-height: 10.66666667vw;
}
.community header .label {
  height: 8vw;
}
.community header .label ul {
  display: flex;
  padding-bottom: 5.33333333vw;
}
.community header .label ul li {
  text-align: center;
  width: 8vw;
  padding: 2.66666667vw 0;
  flex: 1;
}
.community header .label ul .active {
  border-bottom: 2px solid #ab97c9;
}
.community main .zhanwei {
  width: 100%;
  height: 26.66666667vw;
}
.community main .commutity_box {
  width: 100%;
  height: 100vh;
  overflow: scroll;
}
.community main .community_ul {
  height: calc(100vh - 17vw);
  border-radius: 2.66666667vw;
  overflow: scroll;
}
.community main .community_ul li {
  display: block;
  padding: 0 2.66666667vw;
  border-radius: 2.66666667vw;
  margin-bottom: 5.33333333vw;
  background-color: #f4f4f4;
  padding-bottom: 1.33333333vw;
}
.community main .community_ul li .modleId {
  display: none;
}
.community main .community_ul li .color {
  background-color: #fff;
  padding-top: 2.66666667vw;
  box-shadow: 0.26666667vw 0.53333333vw 1.33333333vw 0.53333333vw rgba(159, 157, 157, 0.381);
}
.community main .community_ul li .color .upper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 11.2vw;
  padding: 0 5.33333333vw;
}
.community main .community_ul li .color .upper .head_portrait {
  width: 11.2vw;
  height: 11.2vw;
  border-radius: 100%;
}
.community main .community_ul li .color .upper .head_portrait img {
  border-radius: 100%;
}
.community main .community_ul li .color .upper .idname1 {
  font-size: 3.73333333vw;
  margin-left: 2.66666667vw;
}
.community main .community_ul li .color .ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.community main .community_ul li .color .content {
  margin: 0 4vw;
  margin-top: 1.33333333vw;
  padding: 0 6.66666667vw;
  border-radius: 2.66666667vw;
}
.community main .community_ul li .color .content h4 {
  margin-bottom: 1.33333333vw;
  padding-top: 4vw;
  font-size: 4.8vw;
}
.community main .community_ul li .color .content .info_box .info {
  font-size: 3.73333333vw;
  line-height: 6.66666667vw;
  height: 13.86666667vw;
}
.community main .community_ul .click {
  position: relative;
  height: 13.33333333vw;
  line-height: 8vw;
  padding: 0 5.33333333vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}
.community main .community_ul .click .label {
  display: inline-block;
  margin-top: 1.33333333vw;
  height: 6.66666667vw;
  width: auto;
  border-radius: 5.33333333vw;
  line-height: 6.66666667vw;
  padding: 0 2.66666667vw;
  text-align: left;
  background-color: #ab97c974;
}
.community main .community_ul .click .label span {
  color: #323232;
  font-size: 3.2vw;
}
.community main .community_ul .click .label .icon-shuqianguanli {
  font-size: 3.73333333vw;
}
.community main .community_ul .click i {
  text-align: center;
  display: inline-block;
  width: 8vw;
  height: 5.33333333vw;
  background-color: #dedcdc;
  border-radius: 15%;
}
.community main .community_ul .click .icon-shixincaidan {
  line-height: 5.33333333vw;
}
.community main .community_ul .click .inter_box {
  position: absolute;
  top: 3.2vw;
  right: 16vw;
  width: 0vw;
  overflow: hidden;
  transition: width 0.6s;
}
.community main .community_ul .click .inter_box .interactive {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 42.66666667vw;
}
.community main .community_ul .click .inter_box .interactive .hidden {
  display: none !important;
}
.community main .community_ul .click .inter_box .interactive span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21.33333333vw;
  height: 6.66666667vw;
  color: #fff;
  background-color: #656464;
  font-size: 3.46666667vw;
}
.community main .community_ul .click .inter_box .interactive span i {
  font-style: normal;
  line-height: 5.33333333vw;
  color: #fff;
  background-color: #656464;
}
.community main .community_ul .click .inter_box .interactive span .icon-jifenhuiyuan {
  font-weight: 700;
}
.community main .community_ul .click .inter_box .interactive .yellow {
  color: rgba(254, 211, 20, 0.943);
}
.community main .footer {
  width: 100%;
  height: 18.66666667vw;
}
.community .community_footer {
  width: 100%;
  height: 18.66666667vw;
}
