* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rbga(0, 0, 0, 0);
}
body {
  font-family: '微软雅黑';
  background-size: cover;
}
img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
ol,
ul {
  list-style: none;
}
input,
button,
select,
textarea {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
/*禁用了文本的拖拉，尤其在谷歌下*/
textarea {
  resize: none;
}
/*为了使文本段落左右两边对齐*/
p {
  text-align: justify;
  text-justify: distribute;
}
/*======== Link ========*/
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
/*清空浮动的代码-start*/
.clr:after {
  content: "";
  display: table;
  clear: both;
}
.clr {
  *zoom: 1;
}
/*清空浮动的代码-end*/
/* 页面元素初始化和常用样式定义-end */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?19tb89');
  src: url('../fonts/icomoon.eot?19tb89#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?19tb89') format('truetype'), url('../fonts/icomoon.woff?19tb89') format('woff'), url('../fonts/icomoon.svg?19tb89#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.Making_page {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #aba3ca;
  overflow: scroll;
  transition: all 0.2s;
}
.Making_page .bg {
  z-index: -1;
  width: 100%;
  height: 101.26582278vw;
  position: absolute;
  top: -10vw;
  left: 0;
  border-radius: 5.06329114vw;
}
.Making_page header {
  margin-top: 2.53164557vw;
  width: 100%;
  height: 16.4556962vw;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.79746835vw;
}
.Making_page header .header_left,
.Making_page header .header_right {
  position: relative;
  width: 20.25316456vw;
  height: 10.12658228vw;
  background-color: #eeedf5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.53164557vw;
  box-shadow: 0.50632911vw 0.50632911vw 2.53164557vw rgba(0, 0, 0, 0.418);
}
.Making_page header .header_left input,
.Making_page header .header_right input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.Making_page header .header_left .icon,
.Making_page header .header_right .icon {
  font-size: 6.32911392vw;
  margin-right: 1.26582278vw;
}
.Making_page header .header_left .icon,
.Making_page header .header_right .icon {
  font-size: 5.82278481vw;
}
.Making_page .loading {
  display: none;
  z-index: 20000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000078;
  /* 禁止选取 */
  user-select: none;
  /* 图形 */
  /* 投影 */
  /* loading文字 */
  /* 定义动画 */
}
.Making_page .loading .spinner {
  position: absolute;
  width: 40.50632911vw;
  height: 40.50632911vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Making_page .loading .spinner::before,
.Making_page .loading .spinner::after {
  content: "";
  position: absolute;
}
.Making_page .loading .spinner::before {
  width: 100%;
  height: 100%;
  background-color: #a08fd5;
  /* 执行动画：动画名 时长 贝塞尔曲线 无限次播放 */
  animation: spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}
.Making_page .loading .spinner::after {
  width: 100%;
  height: 1.01265823vw;
  border-radius: 50%;
  background-color: #333;
  bottom: -10.12658228vw;
  animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}
.Making_page .loading .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 8.10126582vw;
  text-transform: uppercase;
  font-weight: 100;
  animation: text 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}
@keyframes spinner {
  50% {
    border-radius: 50%;
    background-color: #f5e866;
    transform: rotate(360deg) scale(0.5);
  }
  100% {
    background-color: #a08fd5;
    transform: rotate(720deg);
  }
}
@keyframes shadow {
  50% {
    transform: scale(0.5);
  }
}
@keyframes text {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1, 1);
  }
  50% {
    transform: translate(-50%, -50%) scale(0.5, 0.5);
    color: #000;
  }
}
.Making_page .popup2,
.Making_page .popup {
  display: none;
  z-index: 20000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000078;
}
.Making_page .popup2 .popup_box,
.Making_page .popup .popup_box {
  position: absolute;
  width: 65.82278481vw;
  height: 50.63291139vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #aba3ca;
  z-index: 10000;
  border-radius: 2.53164557vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Making_page .popup2 .popup_box button,
.Making_page .popup .popup_box button {
  width: 45.56962025vw;
  height: 15.18987342vw;
  border: none;
  border-radius: 2.53164557vw;
  box-shadow: 1.01265823vw 1.01265823vw 3.79746835vw rgba(0, 0, 0, 0.296);
  background-color: #eeedf5;
  outline: none;
  font-size: 4.55696203vw;
}
.Making_page .popup2 .popup_box button:last-child,
.Making_page .popup .popup_box button:last-child {
  margin-top: 10.12658228vw;
}
.Making_page .popup2 .popup_box {
  top: 40%;
  height: 25.3164557vw;
  font-size: 4.55696203vw;
}
.Making_page .container {
  width: 100%;
  margin-top: 5.06329114vw;
  margin-bottom: 20.25316456vw;
}
.Making_page .container .title {
  margin: 0 auto;
  width: 93.67088608vw;
  height: 10.12658228vw;
  box-shadow: 0.50632911vw 0.50632911vw 1.26582278vw rgba(0, 0, 0, 0.418);
  display: flex;
  border-radius: 1.26582278vw;
  background-color: #eeedf5;
}
.Making_page .container .title .label {
  position: relative;
  width: 25.3164557vw;
  height: 100%;
  text-align: center;
  line-height: 10.12658228vw;
  font-size: 4.55696203vw;
  border-right: 0.25316456vw solid #969696;
  border-radius: 1.26582278vw 0 0 1.26582278vw;
}
.Making_page .container .title .label .icon {
  font-size: 4.55696203vw;
  font-weight: 700;
}
.Making_page .container .title .label .label_menu {
  position: absolute;
  top: 10.12658228vw;
  left: 0;
  width: 19.36708861vw;
  height: 22.78481013vw;
  transition: all 0.3s;
  transform: scale(0);
  transform-origin: top center;
}
.Making_page .container .title .label .label_menu ul li {
  width: 100%;
  height: 7.59493671vw;
  background-color: #cec2ff;
  text-align: center;
  line-height: 7.59493671vw;
}
.Making_page .container .title input {
  border-radius: 1.26582278vw;
  width: 100%;
  height: 100%;
  padding: 1.26582278vw;
  font-size: 4.55696203vw;
  border: none;
  background-color: #eeedf5;
}
.Making_page .container .text_box {
  background-color: #ffffff;
  margin: 5.06329114vw auto;
  width: 93.67088608vw;
  height: 66vh;
  padding: 2.53164557vw;
  overflow: scroll;
  outline: none;
  font-size: 4.55696203vw;
  border-radius: 1.26582278vw;
  box-shadow: 0.50632911vw 0.50632911vw 2.53164557vw rgba(0, 0, 0, 0.349);
  line-height: 8.86075949vw;
  letter-spacing: 0.15em;
}
.Making_page footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 17.72151899vw;
  width: 100%;
  background-color: #ffffff;
}
.Making_page footer ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.Making_page footer li {
  height: 100%;
  flex: 5;
  font-size: 3.5443038vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #9fa7ba;
  transition: all 0.2s ease-in-out;
}
.Making_page footer li .icon {
  font-size: 7.59493671vw;
}
.Making_page footer li .name {
  position: relative;
}
