* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rbga(0, 0, 0, 0);
}
body {
  font-family: '微软雅黑';
}
img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
ol,
ul {
  list-style: none;
}
input,
button,
select,
textarea {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
/*禁用了文本的拖拉，尤其在谷歌下*/
textarea {
  resize: none;
}
/*为了使文本段落左右两边对齐*/
p {
  text-align: justify;
  text-justify: distribute;
}
/*======== Link ========*/
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
/*清空浮动的代码-start*/
.clr:after {
  content: "";
  display: table;
  clear: both;
}
.clr {
  *zoom: 1;
}
/*清空浮动的代码-end*/
/* 页面元素初始化和常用样式定义-end */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?19tb89');
  src: url('../fonts/icomoon.eot?19tb89#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?19tb89') format('truetype'), url('../fonts/icomoon.woff?19tb89') format('woff'), url('../fonts/icomoon.svg?19tb89#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.wrapper {
  width: 100%;
  background-color: #a879a8;
  border-radius: 0 0 50% 50% / 4%;
  overflow: hidden;
}
.wrapper nav {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.wrapper nav .logo {
  font-size: 8.10126582vw;
  letter-spacing: 1.01265823vw;
  position: relative;
  top: -0.50632911vw;
  font-weight: 500;
}
.wrapper nav .usericon {
  display: inline-block;
  vertical-align: middle;
}
.wrapper nav .icon-biaoqianA01_wode-265 {
  font-size: 8.10126582vw;
}
.wrapper nav .white {
  color: #fff;
}
.wrapper .container {
  width: 100%;
  padding-right: 3.79746835vw;
  padding-left: 3.79746835vw;
  margin-right: auto;
  margin-left: auto;
}
.collapse {
  width: 17.72151899vw;
  height: 0rem;
  right: 2.02531646vw;
  position: absolute;
  top: 14.6835443vw;
  overflow: hidden;
  display: inline-block;
  transition: height 1s;
  z-index: 10;
}
.collapse .box_icon {
  display: block;
  width: 17.72151899vw;
  margin-top: -3.5rem;
  height: 3.5rem;
  background: #fff;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: margin-top 1s;
}
.collapse .box_icon .box_contain {
  margin-top: 1.26582278vw;
  height: 3.5rem;
}
.collapse .box_icon .box_contain .login {
  margin-left: 1.26582278vw;
  width: 15.18987342vw;
  height: 5.06329114vw;
  line-height: 5.06329114vw;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 3.5443038vw;
}
.collapse .box_icon .box_contain .login a {
  display: inline-block;
}
.collapse .box_icon .box_contain .register {
  margin-left: 1.26582278vw;
  margin-top: 1.26582278vw;
  width: 15.18987342vw;
  height: 5.06329114vw;
  line-height: 5.06329114vw;
  display: inline-block;
  text-align: center;
  color: #000;
  font-size: 3.5443038vw;
}
.collapse .box_icon .box_contain .register a {
  display: inline-block;
}
.main_troduction {
  width: 100%;
  padding-right: 3.79746835vw;
  padding-left: 3.79746835vw;
  margin-top: 7.59493671vw;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.main_troduction .littlepage {
  width: 100%;
  font-size: 3.5443038vw;
  text-align: center;
  color: #fff;
  margin-top: 7.59493671vw;
  margin-bottom: 7.59493671vw;
  line-height: 2em;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.boxtext {
  text-align: center;
}
.appearRight {
  -webkit-animation-name: appearRight;
  animation-name: appearRight;
}
.appearLeft {
  -webkit-animation-name: appearLeft;
  animation-name: appearLeft;
}
.slideleft {
  visibility: visible;
  animation-delay: 0.22s;
  animation-name: appearLeft;
}
.appearP {
  visibility: visible;
  animation-delay: 0.67s;
  animation-name: appear;
}
.appearh1 {
  visibility: visible;
  animation-delay: 0.4s;
  animation-name: appear;
}
@keyframes appearRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes appearLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
