* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rbga(0, 0, 0, 0);
}
body {
  font-family: '微软雅黑';
  background-size: cover;
}
img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
ol,
ul {
  list-style: none;
}
input,
button,
select,
textarea {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
/*禁用了文本的拖拉，尤其在谷歌下*/
textarea {
  resize: none;
}
/*为了使文本段落左右两边对齐*/
p {
  text-align: justify;
  text-justify: distribute;
}
/*======== Link ========*/
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
/*清空浮动的代码-start*/
.clr:after {
  content: "";
  display: table;
  clear: both;
}
.clr {
  *zoom: 1;
}
/*清空浮动的代码-end*/
/* 页面元素初始化和常用样式定义-end */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?19tb89');
  src: url('../fonts/icomoon.eot?19tb89#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?19tb89') format('truetype'), url('../fonts/icomoon.woff?19tb89') format('woff'), url('../fonts/icomoon.svg?19tb89#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.removeRecite {
  width: 100vw;
  height: 100vh;
  background-color: #f6f7fb;
  overflow: hidden;
}
.headBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2.53164557vw 2.53164557vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12.65822785vw;
  background-color: #fff;
}
.headBox .back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10.12658228vw;
  height: 100%;
}
.headBox .title {
  margin-left: -3.79746835vw;
}
.reciteCon {
  margin-top: 16.4556962vw;
  padding: 0 5.06329114vw;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}
.reciteCon::-webkit-scrollbar {
  display: none;
}
.reciteCon ul li {
  margin-bottom: 3.79746835vw;
  padding: 2.53164557vw 3.79746835vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3.79746835vw;
  height: 11.39240506vw;
  background-color: #fff;
  border-radius: 2.02531646vw;
  transition: all 0.3s;
}
.reciteCon ul li .title {
  width: 63.29113924vw;
}
.reciteCon ul li .modleId {
  display: none;
}
.reciteCon ul li .goReview {
  background-color: #6c60aeb1;
  padding: 1.26582278vw 2.53164557vw;
  font-size: 3.29113924vw;
  color: #fff;
  border-radius: 2.53164557vw;
  background: linear-gradient(to right, #7167abd6 55%, #957abd);
}
.review_del {
  animation: review_del 0.6s forwards;
}
@keyframes review_del {
  0% {
    height: 11.39240506vw;
    opacity: 1;
    margin-bottom: 3.79746835vw;
    padding: 2.53164557vw 3.79746835vw;
  }
  50% {
    opacity: 0;
  }
  100% {
    height: 0;
    opacity: 0;
    margin-bottom: 0;
    padding: 0 3.79746835vw;
  }
}
